.intro {
    background: url(../img/flower.jpg) no-repeat bottom center scroll;
}

.contact {
    width: 200px;
}

#listedResults {
    border: white solid 3px;
    height: 550px;
}

#mapResults {
    border: white solid 3px;
    height: 550px;
}